
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/CssAdmin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Content/CssAdmin/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/Content/CssAdmin/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="~/Content/CssAdmin/js/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="~/Content/CssAdmin/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Content/CssAdmin/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script src="~/Content/CssAdmin/js/jquery-1.10.2.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->
</head>
<body class="sticky-header left-side-collapsed">
    @RenderBody()
    <footer>
        <p>&copy 2020 Easy Admin Panel. All Rights Reserved | Design by W3layouts</p>
    </footer>
    <!--footer section end-->
    <!-- main content end-->

    <script src="~/Content/CssAdmin/js/jquery.nicescroll.js"></script>
    <script src="~/Content/CssAdmin/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/CssAdmin/js/bootstrap.min.js"></script>
</body>
</html>