
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="~/Content/CssHome/images/banner1.jpg" alt="" />
            </li>
            <li>
                <img src="~/Content/CssHome/images/banner2.jpg" alt="" />
            </li>
            <li>
                <img src="~/Content/CssHome/images/banner3.jpg" alt="" />
            </li>
        </ul>
  
    </div>
    <div class="clearfix"> </div>
</div>