
<div id="divGioHang" class="cart box_1">
    <a href="@Url.Action("XemGioHang", "GioHang")">
        <div class="total">
            @ViewBag.TongTien.ToString("#,##") VNĐ<span> @ViewBag.TongSoLuong </span> sản phẩm
        </div>
        <img src="~/Content/CssHome/images/cart-1.png" alt="" />
    </a>
    <p><a href="@Url.Action("XemGioHang","GioHang")" class="simpleCart_empty">Giỏ Hàng</a></p>
    <div class="clearfix"> </div>
</div>
 