
@{
    ViewBag.Title = "Thông báo";
    Layout = "~/Views/Layout/GioHangLayout.cshtml";
}

<div class="cart-items">
    <div class="in-check">
        <div class="container">
            <h2 style="color:#000000;font-weight:bold"> Bạn đã đặt hàng thành công!! </h2>
            <br />
            <h2> <a href="@Url.Action("Index","Home")" style=" color:#000000;text-align:center;font-weight:bold">Vui lòng quay trở lại trang chủ để mua hàng !!</a></h2>
        </div>
    </div>
</div>

