@using WebBanQuanAo.Models;
@model IEnumerable<LoaiSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminQuanTri.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 20);
}

<h2 style="font-weight:bold;text-align:center">Quản Lý Menu Cấp 1</h2>

@grid.GetHtml(
            tableStyle: "table table-bordered table-condensed table-responsive",
            headerStyle: "gridHead",
            footerStyle: "gridHead",
            rowStyle: "gridRow",
            alternatingRowStyle: "gridAlter",
            columns: grid.Columns(
                            grid.Column("IdLoaiSanPham", "STT"),
                            grid.Column("TenLoai", "Tên loại"),
                            grid.Column("ThongTin", "Thông tin"),
                            grid.Column( format: p => @Html.ActionLink("Thêm", "TaoMoi", null, new { @class = "btn btn-default" })),
                           grid.Column( format: p => @Html.ActionLink("Sửa", "ChinhSua", new { @IdLoaiSanPham = p.IdLoaiSanPham }, new { @class = "btn btn-success" })),
                           grid.Column(format: p => @Html.ActionLink("Xóa", "Xoa", new { @IdLoaiSanPham = p.IdLoaiSanPham }, new { @class = "btn btn-danger" }))
                            ))

